
{% extends 'base.html.twig' %}
    {% block body %}

        <link rel="stylesheet" href="{{asset('build/css/map.css')}}">
        <div class="mapwraper">
            <div id="map"></div>
        </div>
        <div class="modal" id="form">
            <div class="modal-content">
                <span class="close">&times;</span>
        {{ form_start(form) }}
            {{ form_widget(form._token) }}
            <div>
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
            </div>
            <div>
            {{ form_label(form.lat) }}
            {{ form_errors(form.lat) }}
            {{ form_widget(form.lat) }}
            </div>
            <div>
            {{ form_label(form.lng) }}
            {{ form_errors(form.lng) }}
            {{ form_widget(form.lng) }}
            </div>
            <a title="Comment trouver ses coordonnées GPS"href="https://support.google.com/maps/answer/18539?co=GENIE.Platform%3DDesktop&hl=fr" target="_blank">Comment connaître sa position</a>
            <div>
            {{ form_label(form.image) }}
            {{ form_errors(form.image) }}
            {{ form_widget(form.image) }}
            </div>
            <div>
            {{ form_label(form.type) }}
            {{ form_errors(form.type) }}
            {{ form_widget(form.type) }}
            </div>
            <div>
            {{ form_widget(form.Enregistrer) }}
            </div>
            
            </div>
        </div>
        <div class="buttons">
            <select id="selectType" onclick="initMap();">
               <option value='All'>Choisissez un filtre</option>
               <option value='Accipitriformes'>Accipitriforme</option>
               <option value='Anseriformes'>Anseriforme</option>
               <option value='Bucerotiformes'>Bucerotiforme</option>
               <option value='Caprimulgiformes'> Caprimulgiformes</option>
               <option value='Charadriiformes'> Charadriiformes</option>
               <option value='Columbiformes'> Columbiformes</option>
               <option value='Coraciiformes'> Coraciiformes</option>
               <option value='Cuculiformes'> Cuculiformes</option>
               <option value='Eurypygiformes'> Eurypygiformes</option>
               <option value='Falconiformes'> Falconiformes</option>
               <option value='Galliformes'> Galliformes</option>
               <option value='Gruiformes'> Gruiformes</option>
               <option value='Leptosomatiformes'> Leptosomatiformes</option>
               <option value='Opisthocomiformes'> Opisthocomiformes</option>
               <option value='Passeriformes'> Passeriformes</option>
               <option value='Phoenicopteriformes'> Phoenicopteriformes</option>
               <option value='Piciformes'> Piciformes</option>
               <option value='Procellariiformes'> Procellariiformes</option>
               <option value='Psittaciformes'> Psittaciformes</option>
               <option value='Sphenisciformes'> Sphenisciformes</option>
               <option value='Strigiformes'> Strigiformes</option>
               <option value='Tinamiformes'> Tinamiformes</option>
               <option value=Trogoniformes> Trogoniformes</option>
            </select>
            <input type="button" id="obsButton" value="J'ai vu un oiseau">
        </div>
    {% endblock %}
    {% block javascripts %}
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtz5G85w1sjtP8Y0sPnY45ZAQq5d2Y_LE&callback=initMap"></script>
        <script src="{{asset('build/js/map.js')}}"></script>
        <script src="{{asset('build/js/mapModal.js')}}"></script>
    {% endblock %}
