{% extends "base.html.twig" %}

{% block title %}Don - Paiement{% endblock %}

{% block body %}

 <div class="container-fluid" id="don">
    <div class="white-filter">
        <div class="container" id="block-stripe">
            <div class="row">
                <div class="offset-1 col-10 col-md-5" id="don-form">
                    <h3>Faire un don</h3>
                    <img src="{{ asset('build/img/don-blanc.svg') }}" width="65px" height="65px">

                    <form action="{{ path('CBcheckout') }}" method="POST">
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_oXH6tq7HnXdaNRJhNo3JCVDj"
                            data-amount={{ app.session.get('don').amount *100|replace({'.':''}) }}
                            data-name="NAO"
                            data-label="Valider mon don"
                            data-locale="auto"
                            data-currency="eur"
                            data-email={{ app.session.get('don').mail }}
                            data-image={{ asset('build/img/logo-sans-texte.svg') }}
                        >
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

