{% extends "base.html.twig" %}

{% block title %}Recherche{% endblock %} 

{% block body %}

<div class="container-fluid" id="research">
	<div class="white-filter">
		<div class="container" id="research-form">
			
			{{ form_start(form) }}

			{{ form_errors(form) }}

			<div class="form-row">
				<div class="form-group col-12 col-md-10">
					{{ form_widget(form.vern_name, {'attr': {
					'class': 'form-control',
					'placeholder': 'Votre recherche...'}}) }}
				</div>
				
				<div class="form-group col-12 col-md-2">
					{{ form_widget(form.Rechercher, {'attr': {
					'class': 'btn'}}) }}
				</div>
			</div>

			{{ form_end(form) }}

		</div>
	</div>
</div>	

{% endblock %}