{% extends "base.html.twig" %}

    



{% block body %}
    <img src="{{asset('build/img/'~data.article.image)}}">
	<h2>Titre : {{ data.article.title }}</h2>

	<div>
		{{ data.article.content }}
	</div>

	<hr>

	<br>

	{% for comment in data.article.comments %}
		<div style="border: 1px solid black;">
			<p>Par <em>{{ comment.author.firstname }} {{ comment.author.lastname|upper|first }}. </em>{{ comment.author.type }}</p>
			<p>{{ comment.content }}</p>
			<p>Posté le {{ comment.dateComment|date('d/m/Y') }} à {{ comment.dateComment|date('H:i') }}</p>
		</div>
	{% else %}
		<p>Aucun commentaire.</p>	
	{% endfor %}

	<br>

	<div style="background-color: grey; display: inline-block;">
		<h2>Ecrire un commentaire</h2>

		{{ form_start(data.form) }}

		{{ form_errors(data.form) }}

		{{ form_row(data.form.content) }}

		{{ form_row(data.form.Publier) }}

		{{ form_rest(data.form) }}

		{{ form_end(data.form) }}
	</div>


{% endblock %}	
{% block javascripts %}
        <script type="text/javascript" src="{{asset('build/js/singlepage.js')}}"></script>
{% endblock %}