<footer>
	<div class="container-fluid" id="footer">
		<div class="row">
			<nav class="nav col-7 col-sm-8" id="nav-footer">
    			<a class="nav-link" href="{{ path('contact') }}">Contact</a>
    			<a class="nav-link" href="{{ path('mentions_legales') }}">Mentions légales</a>
    		</nav>

    		<ul class="nav justify-content-end col-5 col-sm-4" id="networks-footer">
			  <li class="nav-item">
			    <a class="nav-link" target="_blank" href="https://facebook.com"><img src="{{ asset('build/img/facebook_rose.svg') }}" alt="logo Facebook" height="35px" width="35px"></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" target="_blank" href="https://twitter.com"><img src="{{ asset('build/img/twitter_rose.svg') }}" alt="logo Twitter" height="35px" width="35px"></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" target="_blank" href="https://instagram.com"><img src="{{ asset('build/img/instagram_rose.svg') }}" alt="logo Instagram" height="35px" width="35px"></a>
			  </li>
			</ul>
		</div>
	</div>
</footer>