<header>
	<div class="container-fluid" id="header">
		<div id="hamburger">
			<div class="row">
				<div class="col-2 col-md-2" id="logo">
					<a href="{{ path('home') }}"><img src="{{ asset('build/img/logohorizontale.svg') }}" alt="Logo l'oiseau rare" width="130px" height="81px"></a>
				</div>

				<div class="col col-md-10" id="menu">
					<ul class="nav">
							<li class="nav-item link"><a href="#"><img src="{{ asset('build/img/map_rose.svg') }}" alt="carte" width="28px" height="28px">Carte</a></li>
			    			<li class="nav-item link"><a href="{{ path('blog_list') }}"><img src="{{ asset('build/img/blog_rose.svg') }}" alt="blog" width="28px" height="28px">Blog</a></li>
			    			<li class="nav-item link">
			    				{% if app.user == null %}
			    				    <a href="{{ path('login') }}"><img src="{{ asset('build/img/user-male_rose.svg') }}" alt="login" width="30px" height="30px">Se connecter</a>
			    				{% else %}
			    					<a href="{{ path('dashboard') }}"><img src="{{ asset('build/img/user-male_rose.svg') }}" alt="login" width="30px" height="30px">Mon espace</a>
			    				{% endif %}	
			    			</li>
			    			<li class="nav-item link"><a href="{{ path('research') }}"><img src="{{ asset('build/img/loupe_rose.svg') }}" alt="recherche" width="25px" height="25px">Recherche</a></li>
			    			<li class="nav-item link"><a href="{{ path('don') }}"><img src="{{ asset('build/img/donation_rose.svg') }}" alt="don" width="28px" height="28px">Faire un don</a></li>
			    			<li class="nav-item link"><a href="{{ path('association') }}"><img src="{{ asset('build/img/world_rose.svg') }}" alt="association" width="28px" height="28px">Notre mission</a></li>
					</ul>	
				</div>
			</div>

			<img src="{{ asset('build/img/menu_hamb_black.svg') }}" alt="menu" width="69px" height="48px" id="menu-hamb">

			<div id="hamburger-sidebar-menu">
				<h4>Menu</h4>
				<ul class="nav flex-column">
				  <li class="nav-item">
				    <a class="nav-link active" href="#"><img src="{{ asset('build/img/map_rose.svg') }}" alt="carte" width="14px" height="14px">Carte</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="{{ path('blog_list') }}"><img src="{{ asset('build/img/blog_rose.svg') }}" alt="blog" width="14px" height="14px">Blog</a>
				  </li>
				  <li class="nav-item">
				  	{% if app.user == null %}
				    	<a class="nav-link" href="{{ path('login') }}"><img src="{{ asset('build/img/user-male_rose.svg') }}" alt="login" width="14px" height="14px">Se connecter</a>
				    {% else %}
				    	<a class="nav-link" href="{{ path('dashboard') }}"><img src="{{ asset('build/img/user-male_rose.svg') }}" alt="login" width="14px" height="14px">Mon espace</a>	
				    {% endif %}	
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="{{ path('research') }}"><img src="{{ asset('build/img/loupe_rose.svg') }}" alt="recherche" width="14px" height="14px">Recherche</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="{{ path('don') }}"><img src="{{ asset('build/img/donation_rose.svg') }}" alt="don" width="14px" height="14px">Faire un don</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="{{ path('association') }}"><img src="{{ asset('build/img/world_rose.svg') }}" alt="association" width="14px" height="14px">Notre mission</a>
				  </li>
				</ul>
			</div>

			<div id="black-filter"></div>


		</div>

		
	</div>
</header>