<header>
	<div class="container-fluid" id="header">
		<div class="row">
			<div class="col-6 col-md-2" id="logo">
				<a href="{{ path('home') }}"><img src="{{ asset('build/img/logohorizontale.svg') }}" alt="Logo l'oiseau rare" width="130px" height="81px"></a>
			</div>
			<div class="col-6 col-md-10" id="menu">
				<ul class="nav justify-content-end">
					<li class="nav-item link"><a href="#"><img src="{{ asset('build/img/map_rose.svg') }}" alt="carte" width="28px" height="28px">Carte</a></li>
	    			<li class="nav-item link"><a href="{{ path('blog_list') }}"><img src="{{ asset('build/img/blog_rose.svg') }}" alt="blog" width="28px" height="28px">Blog</a></li>
	    			<li class="nav-item link"><a href="{{ path('login') }}"><img src="{{ asset('build/img/user-male_rose.svg') }}" alt="login" width="30px" height="30px">Se connecter</a></li>
	    			<li class="nav-item link"><a href="{{ path('research') }}"><img src="{{ asset('build/img/loupe_rose.svg') }}" alt="recherche" width="25px" height="25px">Recherche</a></li>
	    			<li class="nav-item link"><a href="#"><img src="{{ asset('build/img/donation_rose.svg') }}" alt="don" width="28px" height="28px">Faire un don</a></li>
	    			<li class="nav-item link"><a href="{{ path('association') }}"><img src="{{ asset('build/img/world_rose.svg') }}" alt="association" width="28px" height="28px">Notre mission</a></li>
	    			
					<li class="nav-item"><img src="{{ asset('build/img/menu_hamb_black.svg') }}" alt="menu" width="69px" height="48px" id="menu-hamb"></li>
				</ul>	
			</div>
		</div>
	</div>
</header>