{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

	<div class="container-fluid" id="homepage-first-section">
	<div id="filtre">
		<h1>Faisons un geste pour les oiseaux,<br>respectons la nature ensemble.</h1>

		<div class="container">
			<div class="row">
				<div class="offset-1 col-10" id="block-description">
					<p>NAO est une association de protection des oiseaux et de leurs habitats naturels. Nous mettons en place un programme de recherche permettant de collecter des données afin d'étudier les effets du climat, de l'urbanisation et de l'agriculture sur la biodiversité et l'environnement naturel.</p>
				</div>
			</div>
		</div>

		<h3>Comment agir ensemble ?</h3>

		<div class="container" id="block-icons">
			<div class="row">
				<div class="col-lg-10 offset-lg-1" id="block-icons-2">
					<a href="{{ path('map') }}" class="block-icon" id="block-observez" title="Effectuez une observation d'oiseaux de manière géolocalisée"><div>
						<img src="{{ asset('build/img/jumelles-blanc.svg') }}" height="44.5px" width="63px" alt="observez">
						<p>Observez</p>
					</div></a>
					<a href="{{ path('map') }}" class="block-icon" id="block-retrouvez" title="Découvrez en temps réel les différentes observations d'oiseaux faites par la communauté"><div>
						<img src="{{ asset('build/img/map-blanc.svg') }}" height="44px" width="48px" alt="retrouvez">
						<p>Retrouvez</p>
					</div></a>
					<a href="{{ path('research') }}" class="block-icon" id="block-recherchez" title="Recherchez des informations sur les différentes espèces d'oiseaux"><div>
						<img src="{{ asset('build/img/loupe-blanc.svg') }}" width="40px" height="44px" alt="recherchez">
						<p>Recherchez</p>
					</div></a>
					<a href="{{ path('dashboard') }}" class="block-icon" id="block-dashboard" title="Inscrivez-vous gratuitement pour intégrer notre communauté de passionnés"><div>
						<img src="{{ asset('build/img/user-blanc.svg') }}" height="44x" width="44px" alt="mon espace">
						<p>Mon espace</p>
					</div></a>
					<a href="{{ path('association') }}" class="block-icon" id="block-association" title="Prenez connaissance de l'association et ses missions, nos collectes de fond et autres évènements caritatifs"><div>
						<img src="{{ asset('build/img/world_rose.svg') }}" width="44px" height="44px" alt="association">
						<p>Notre mission</p>
					</div></a>
				</div>
			</div>
		</div>
	</div>	
	</div>


	<div class="container-fluid" id="homepage-second-section">
		<div class="container" id="block-community">
			<div class="row">
				<div class="col-md-7">
					<h2>Contribuez pleinement à la préservation des espèces d'oiseaux et de leurs habitats naturels.</h2>
				</div>
				
				<div class="offset-md-1 col-md-4">
					<a href="{{ path('subscribe') }}"><button class="btn">Rejoignez la communauté !</button></a>
				</div>
			</div>

			<div class="row">
				<div class="offset-4 col-4 pink-bar"></div>
			</div>
		</div>

		<div id="block-testimonials">
			<div class="container">
				<h2>NAO, c'est notre communauté qui en parle le mieux :</h2>
			</div>
			
			<div class="row justify-content-md-center" id="testimonials">
				<div class="col-md-3 testimony">
					<div class="row">
					 	<img src="{{ asset('build/img/user1.jpg') }}" class="col" alt="user1">
					 	<p class="col">"Je peux en apprendre plus sur les oiseaux grâce à NAO #nao #cultureG"
					 	<br>
					 	<span>Julie - 25/01/18</span>
					 	</p>
					</div>
				</div>

				<div class="col-md-3 testimony">
					<div class="row">
					 	<img src="{{ asset('build/img/user2.jpg') }}" class="col" alt="user2">
					 	<p class="col">"Je peux faire mes observations pendant mes balades, c'est génial ! #nao"
					 	<br>
					 	<span>Pierre - 20/01/18</span>
					 	</p>
					</div>	  
				</div>

				<div class="col-md-3 testimony">
				 	<div class="row">
					 	<img src="{{ asset('build/img/user3.jpg') }}" class="col" alt="user3">
					 	<p class="col">"C'est grâce à vous qu'on peut sauver et protéger des espèces #nature"
					 	<br>
					 	<span>Georges - 30/01/18</span>
					 	</p>
					</div>
				</div>
			</div>	

		</div>

		<div id="block-social-networks">
			<ul class="nav justify-content-center">
			  <li class="nav-item">
			    <a class="nav-link" target="_blank" href="https://facebook.com"><img src="{{ asset('build/img/facebook_rose.svg') }}" alt="logo Facebook" height="35px" width="35px"></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" target="_blank" href="https://twitter.com"><img src="{{ asset('build/img/twitter_rose.svg') }}" alt="logo Twitter" height="35px" width="35px"></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" target="_blank" href="https://instagram.com"><img src="{{ asset('build/img/instagram_rose.svg') }}" alt="logo Instagram" height="35px" width="35px"></a>
			  </li>
			</ul>
		</div>
		
		<div class="container" id="block-mj">
			<iframe class="col-12 col-md-10" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/2pqp/5dM" width="80%" height="425"></iframe>
		</div>
		
			
		
	</div>

	


{% endblock %}	