{% extends 'base.html.twig' %}
{% block title %}Mon espace{% endblock %}
{% block body %}


  <div class="container-fluid" id="dashboard-obs">
    <div class="white-filter">
      <div class="container-fluid">
        <div class="row">
          

          <div class="offset-col-2 col-8 col-md-3 usercard">
            <div id="user-card">
                {% if user.image != null %}
                  <div class="block-img-profil" id="img-profil"><div class="img-message">Changer de photo</div><a href="{{path('modifyuser')}}"><img class="card-img-top" src="{{asset('build/img/'~user.image)}}" alt="{{user.firstname}}" title="Changer de photo profil"></a></div>
                {% else %}
                  <div id="no-img-profil" class="block-img-profil"><div class="img-message">Changer de photo</div><a href="{{ path('modifyuser') }}"><img src="{{ asset('build/img/logo-sans-texte.svg') }}" width="200px" height="115px" alt="{{ user.firstname }}" title="Changer de photo profil"></a></div>
                {% endif %}   
                <p class="card-title">{{user.firstname}} {{user.lastname}}<br>
                {{user.email}}</p>
            </div> 

            <div id="bandeau-expert">
              <img src="{{ asset('build/img/badge.svg') }}" width="35px" height="35px" alt="badge expert"> Profil d'expert
            </div>

            <div id="block-dash-buttons">
              <a href="{{ path('don') }}"><button class="btn">Faire un don</button></a>
              <a href="{{ path('research') }}"><button class="btn">Recherche</button></a>
            </div>
                   
          </div>

          <div class="offset-col-1 col-10 col-md-9" id="block-user-nav">
            <!-- ONGLETS -->
            <ul class="nav nav-tabs" id="user-nav" role="tablist">
              <li class="nav-item user-dash-nav">
                <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Observations</a>
              </li>
              <li class="nav-item user-dash-nav">
                <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">A valider</a>
              </li>
            </ul>
            <!-- CONTENU -->
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row row-obs">
                  {% for obs in data.content.observations.validated  %}
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 container-obs-validated">
                      {% if obs.image != null %}
                        <div class="block-obs" style="background-image: url({{ asset('build/img/'~obs.image|raw) }});">
                          <div class="block-obs-data">
                            <h5>{{ obs.name|slice(0, 15) }}</h5>
                          </div>
                        </div>
                      {% else %} 
                        <div class="block-obs" id="block-obs-no-img">
                          <div class="block-obs-data">
                            <h5>{{ obs.name|slice(0, 15) }}</h5>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  {% else %}
                    <div class="no-data-yet">
                      <p>Aucune observation effectuée.</p>
                    </div>
                  {% endfor %}  
                </div>
              </div>

              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row row-obs">
                  {% for obs in data.content.observations.toValidate  %}
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 container-obs-validated">
                      {% if obs.image != null %}
                        <div class="block-obs" style="background-image: url({{ asset('build/img/'~obs.image|raw) }});">
                          <div class="block-obs-data">
                            <h5>{{ obs.name|slice(0, 15) }}</h5>
                            <form method="POST">
                                <input type="hidden" name="_obsid" value="{{obs.id}}">

                                <!-- DEBUT MODAL VALIDATION-->
                                <button type="button" class="btn" title="Valider l'observation" data-toggle="modal" data-target="#validateObs">
                                  Valider
                                </button>
                                <div class="modal fade" id="validateObs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel"><img src="{{ asset('build/img/jumelles-blanc.svg') }}" width="35px" height="35px">  Validation d'observation</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        Souhaitez-vous réellement valider cette observation ?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn" formaction="{{ path('validate_obs') }}">Confirmer</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- FIN MODAL -->

                                
                                <!-- DEBUT MODAL REFUS-->
                                <button type="button" class="btn" title="Refuser l'observation" data-toggle="modal" data-target="#denyObs">
                                  Refuser
                                </button>
                                <div class="modal fade" id="denyObs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content" id="modal-refus">
                                      <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel"><img src="{{ asset('build/img/jumelles-blanc.svg') }}" width="35px" height="35px">  Refus d'observation</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        Souhaitez-vous réellement refuser cette observation ?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn" formaction="{{ path('deny_obs') }}">Confirmer</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- FIN MODAL -->

                              </form>
                          </div>
                        </div>
                      {% else %} 
                        <div class="block-obs" id="block-obs-no-img">
                          <div class="block-obs-data">
                            <h5>{{ obs.name|slice(0, 15) }}</h5>
                            <form method="POST">
                                <input type="hidden" name="_obsid" value="{{obs.id}}">
                                
                                <!-- DEBUT MODAL VALIDATION-->
                                <button type="button" class="btn" title="Valider l'observation" data-toggle="modal" data-target="#validateObs">
                                  Valider
                                </button>
                                <div class="modal fade" id="validateObs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel"><img src="{{ asset('build/img/jumelles-blanc.svg') }}" width="35px" height="35px">  Validation d'observation</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        Souhaitez-vous réellement valider cette observation ?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn" formaction="{{ path('validate_obs') }}">Confirmer</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- FIN MODAL -->

                                
                                <!-- DEBUT MODAL REFUS-->
                                <button type="button" class="btn" title="Refuser l'observation" data-toggle="modal" data-target="#denyObs">
                                  Refuser
                                </button>
                                <div class="modal fade" id="denyObs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content" id="modal-refus">
                                      <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel"><img src="{{ asset('build/img/jumelles-blanc.svg') }}" width="35px" height="35px">  Refus d'observation</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        Souhaitez-vous réellement refuser cette observation ?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn" formaction="{{ path('deny_obs') }}">Confirmer</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- FIN MODAL -->

                              </form>
                          </div>
                        </div>
                      {% endif %}   
                    </div>
                  {% else %}
                    <div class="no-data-yet">
                      <p>Aucune observation en attente.</p>
                    </div>
                  {% endfor %}  
                </div>
              </div>

            </div>
          </div>
              
        </div>
      </div>      
    </div>  
  </div>






{%endblock%}
