<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}L'oiseau rare • Mail{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}

            <p>Bonjour, vous avez reçu une nouvelle demande de contact.</p><br/>
            <p>De : {{ contact.firstname }} {{ contact.lastname }}</p>
            <p>Mail : {{ contact.mail }}</p>
            <p>Objet : {{ contact.object }}</p>
            <p>Message : {{ contact.content }}</p><br/>

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
